<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoogleAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F3E01F21F343ECC004A7D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F3E02061F343ECD004A7D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F3E02111F343ECD004A7D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
